@use "../utils" as *;

.hero {
    position: relative;
    width: 100%;

    .image-container {
        width: 100%;

        img {
            width: 100%;
        }

        .mobile-image {
            display: block;
        }

        .desktop-image {
            display: none;
        }

        @include mq("md") {
            .mobile-image {
                display: none;
            }

            .desktop-image {
                display: block;
            }
        }
    }

    .text-container {
        position: absolute;
        top: clamp(3.5rem, 1.625rem + 6.25vw, 5.625rem);
        z-index: 1;
        padding-top: clamp(5.5rem, 4.563rem + 3.125vw, 6.563rem);
        padding-inline: 1.5rem;
        width: 100%;
        text-align: center;
        color: $color-text-white;

        h1 {
            margin-bottom: clamp(3rem, -5.625rem + 17.969vw, 5.875rem);
            text-transform: uppercase;
            line-height: 1.2;
        }

        img {
            margin-inline: auto;
        }
    }
}
